[Desktop Entry]
Name=DVA-Profession Video Player
Exec=/srv/dva-profession/client_config/linux/mpv/hires/hires_player.php %u
Icon=multimedia-video-player
Type=Application
Terminal=true
MimeType=x-scheme-handler/hires;
Comment=Used to start a media player from the browser.
StartupNotify=false
